/* resetando documento */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, body>div, #container {
    height: 100%;
}

/* Estrutura de grid */
body>div {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 50px;

    grid-template-areas: 
    /* Comment */
    "header main"
    "footer footer";
    max-width: 100%;
}
/* Header lateral */
header#header {
    grid-area: header;

    border-right: 1px solid #ededed;
    padding: 20px;
}
/** Navbar **/
header#header nav a {
    color: #c6c6c6;
    text-decoration: none;
    font-size: 1.1rem;

    display: flex;
    align-items: center;

    margin-bottom: 20px;

    transition: all .2s ease-in-out;
}
header#header nav a.active span,
header#header nav a.active strong {
    color: #007bff !important;
}
header#header nav a:hover {
    color: rgb(20, 20, 20);
    transform: translateX(20px);
}

header#header nav a span {
    background: #f1f2f4;
    color: #c0c3cc;
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;

    display: flex;
    justify-content: center;

    transition: all .2s ease-in-out;
}
header#header nav a:hover span {
    color: rgb(20, 20, 20);
}
header#header nav a strong {
    font-weight: 600;
}

/* Main conteudo */
main#main {
    grid-area: main;
    padding: 20px;
}
main#main #mainHeader #mainHeaderIcon {
    font-size: 1.8rem;
    padding: 8px;
    border-radius: 4px;
    background: #f1f2f4;
    color: #c0c3cc;
    margin-right: 10px;
}

main#main #mainHeader span h3 {
    color: #54555a;
}
main#main #mainHeader span small {
    color: #86878b;
}


/* Rodape do sistema */
footer#footer {
    grid-area: footer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    border-top: 1px solid #ededed;
}
footer p {
    margin: 0;
    padding: 0;
    text-align: center;

    font-size: .9rem;
    color: #6b6b6b;
    font-weight: 600;
}